<div class="advertisements-container">
  <% if current_user && current_user.role == 'admin' %>
    <h1 class="title-container">Advertisements:</h1>
    <div class="row index">
      <% @advertisements.each do |advertisement| %>
        
          <div class="col-6 col-md-4 col-ind">
            <div class="card">
              <div class="card-body">
                <p class="card-text card-title index-card-title">
                  <%= link_to "#{advertisement.name}", advertisement_path(advertisement) %>
                </p>
                <p class="card-text index-card-text">
                  <%= advertisement.text.truncate(30) %>
                </p>
                <p>
                  <% unless advertisement.typ.nil? %>
                    <%= link_to 'Approve', [advertisement, advertisement: { state_event: :approve }], method: :patch, class: "btn-dark btn-lg" %>
                  <% end %>
                    <%= link_to 'Reject', [advertisement, advertisement: { state_event: :reject }], method: :patch, class: "btn-dark  btn-lg" %>
                 
                  <%= link_to 'Delete', advertisement, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-dark delete-btn btn-lg" %>
                </p>
              </div>
            </div>
          </div>
        
      <% end %>
    </div>
    <% if @advertisements %>
      <%= will_paginate @advertisements, class: "pagination justify-content-center" %>
    <% end %>
    <hr class="indx-line">
  <% end %>
  
  
</div>