<div class="login-container">
  <div class="text-center mb-4">
    <h1 class="h3 mb3 font-weight-normal">Edit Advertisement</h1>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
          <p><%= e %></p> <br>
        <% end %>
      <% end %>   
      <%= simple_form_for(@advertisement) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="form-group">
            <%= f.label :title, "Title", class: "log-label"%>
            <%= f.input :name,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "name" },
                      placeholder: "Title",
                      label:false,
                      class: "input-group mb-3"
                      %>
          </div>
          <div class="form-group">
            <%= f.label :text, "Text", class: "log-label"%>
            <%= f.input :text,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "text", rows: 10 },
                      placeholder: "Text",
                      label:false
                      %>
          </div>
          <div class="form-group">
            <%= f.label :type, "Type", class: "log-label"%>
            <%= f.select :type,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "image" },
                      placeholder: "Image",
                      label:false
                      %>  
          </div>
          <div class="form-group">
            <%= f.label :image, "Image", class: "log-label"%>
            <%= f.file_field :image,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "image" },
                      placeholder: "Image",
                      label:false
                      %>  
          </div>
          
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn-dark log-btn btn-lg" %>
        </div>
      <% end %>

    </div>
  </div>

</div>
</div>