<div class="advertisements-container">


  <div class="row">
    <% if current_user %>
      <% if can? :create, Advertisement %>
        <%= link_to 'Create Advertisement', new_advertisement_path, class: "btn-dark new-btn btn-lg" %>
      <% end %>

      <% if can? :manage, User %>
        <%= link_to 'Users', users_path, class: "btn-dark new-btn btn-lg" %>    
      <% end %>
    <% end %>
    <% if current_user && current_user.role == 'admin' %>
      <%= link_to 'Ads', admin_index_advertisements_path, class: "btn-dark new-btn btn-lg" %>
    <% end %>
  </div>
  <% if current_user && current_user.role == 'user' %>
    <h1 class="title-container">My Advertisements:</h1>
      <div class="row index">
        <% @current_user.advertisements.each do |advertisement| %>
          <div class="col-6 col-md-4 col-ind">
            <div class="card">
              <div class="card-body">
                <p class="card-text card-title index-card-title">
                  <%= link_to "#{advertisement.name}", advertisement_path(advertisement), class: 'index-card-title' %>
                </p>
                <p class="card-text index-card-text">
                  <%= advertisement.text.truncate(30) %>
                </p>
                 <p>
                  <% if advertisement.rejected? %>
                    <span class="contact"><%= advertisement.state %></span>
                  <% end %>
                  <% if can? :destroy, advertisement %>
                    <%= link_to 'Delete', advertisement, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-dark delete-btn btn-lg" %>
                  <% end %>
              </p>
              </div>
            </div>          
          </div>
        <% end %>
      </div>
    
    <hr class="indx-line">
  <% end %>
  
  <h1 class="title-container">All Advertisements:</h1>
  
      <div class="row index">
        <% @advertisements.uniq.each do |advertisement| %>
          <% if advertisement.state == 'published' %>
            <div class="col-6 col-md-4 col-ind">
              <div class="card">
                <div class="card-body">
                  <p class="card-text card-title index-card-title">
                    <%= link_to "#{advertisement.name}", advertisement_path(advertisement) %>
                  </p>
                  <p class="card-text index-card-text">
                    <%= advertisement.text.truncate(30) %>
                  </p>
                  <% if can? :destroy, advertisement %>
                    <p>
                      <%= link_to 'Delete', advertisement, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-dark delete-btn btn-lg" %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    

</div>